@media screen and (max-width: 500px) {
  /* general settings start */

  .wrap {
    width: 90%;
  }

  button {
    font-size: 0.938rem;
    letter-spacing: 0.1rem;
    padding: 1.2em 3.5em;
  }

  .cta-interative img {
    height: 1rem;
  }

  .cta-interative:hover img {
    right: 16%;
  }

  .cta-interative:hover p {
    transform: translateX(-2em);
  }

  .cta-SMPP {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }

  /* general settings end */

  /* navigation section starts */

  .navigation {
    height: 4em;
  }

  .navigation-logo {
    font-size: 0.75rem;
    letter-spacing: 0.2rem;
  }

  .navigation-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
  }

  .navigation-a {
    font-size: clamp(1.724rem, 7vw, 7rem);
  }

  .navigation-a span {
    font-size: 1.2rem;
  }

  /* navigation section ends */

  /* hero section starts */

  .hero-section {
    padding: 6em 0 2em 0;
    height: 100vh;
  }

  .hero-wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-info-section {
    justify-content: center;
    align-items: center;
    margin-right: 0;
    padding-top: 2em;
  }

  .hero-info-subheading {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1em;
  }

  .hero-info-subheading span {
    font-weight: 800;
  }

  .hero-info-heading {
    text-align: center;
    width: 90%;
    font-size: 1.563rem;
    line-height: 2.063rem;
    margin-bottom: 1.5em;
  }

  .hero-info-heading span {
    font-style: italic;
  }

  .hero-info-a {
    width: 100%;
  }

  .cta-SMPP {
    width: 100%;
  }

  .hero-img-section {
    order: -1;
    height: auto;
    width: 62%;
  }

  .hero-img {
    max-width: 100%;
    max-height: 100%;
  }

  .hero-img-section-verified {
    bottom: unset;
    left: unset;
    top: 17%;
    right: -30%;
    width: 60%;
    height: auto;
  }

  /* hero section ends */

  /* problem section starts */

  .problem-section {
    padding: 4em 0;
  }

  .problem-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .problem-info-section {
    text-align: center;
  }

  .problem-info-heading {
    width: 100%;
    font-size: 1.563rem;
    line-height: 2.063rem;
    margin-bottom: 1em;
  }

  .problem-info-subsection {
    margin-bottom: 4em;
  }

  .problem-info-quotes {
    font-size: 1.063rem;
    line-height: 1.5rem;
  }

  .problem-info-author {
    font-size: 0.938rem;
  }

  .problem-details-p {
    font-size: 0.938rem;
    line-height: 1.6rem;
    margin-bottom: 3em;
  }

  .problem-details-p.ul {
    margin-bottom: 0.6em;
    margin-left: 2em;
  }

  .problem-details-ul {
    margin-bottom: 2em;
    margin-left: 2em;
  }

  .problem-details-li {
    font-size: 1.063rem;
    line-height: 2rem;
  }

  .problem-details-li img {
    width: 1.5em;
    height: auto;
  }

  .problem-details-section .cta-LT:hover img {
    right: 32%;
  }

  /* problem section ends */

  /* process section starts */

  .process-section {
    padding: 4em 0;
  }

  .process-heading {
    font-size: 2.813rem;
    margin-bottom: 1em;
  }

  .process-container {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    row-gap: 2.5em;
    padding: 0 1.8em;
  }

  .process-sec {
    padding: 2.2em 1.8em;
    box-shadow: 0 2.25% 2.25% rgba(0, 0, 0, 0.25);
  }

  .process-head {
    margin-bottom: 0.8em;
  }

  .process-icon-section {
    width: 4em;
    height: 4em;
  }

  .process-icon-section img {
    width: 2.2em;
  }

  .process-index {
    font-size: 3.75rem;
  }

  .process-header {
    font-size: 1.406rem;
  }

  .process-p {
    font-size: 0.875rem;
    line-height: 1.3rem;
    text-align: justify;
  }

  .process-li {
    font-size: 0.938rem;
  }

  /* process section ends */

  /* projects section starts */

  .projects-heading {
    font-size: 2.813rem;
    margin-bottom: 1.5em;
  }

  .projects-container {
    justify-content: center;
    flex-direction: column;
  }

  .projects-left-section {
    width: 80%;
    margin-bottom: 1em;
  }

  .project-slide {
    flex-direction: column;
  }

  .project-left-slide {
    padding: 1.5em 0;
    transform: none;
    box-shadow: none;
    border: none;
  }

  .project-left-heading {
    font-size: 1.5rem;
    line-height: 2.04rem;
  }

  .project-left-p {
    font-size: 0.875rem;
    line-height: 1.3rem;
  }

  .projects-left-tech {
    font-size: 0.78rem;
    margin-bottom: 1.8em;
  }

  .project-cta-section {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .project-cta-section button {
    width: 100%;
  }

  .project-cta-section .cta-VS {
    margin-bottom: 0.8em;
  }

  .project-right-slide {
    width: 100%;
    transform: none;
    order: -1;
    margin-bottom: 0.5em;
  }

  .projects-action-buttons {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
  }

  .projects-action-buttons button {
    width: 4em;
    height: 4em;
    border: 1px solid var(--main-color);
  }

  .projects-action-buttons button img {
    width: 2em;
  }

  .projects-action-buttons button:hover img {
    width: 2.5em;
  }

  .projects-up-btn {
    margin-bottom: 0;
  }

  .projects-down-btn {
    order: -1;
  }

  /* projects section endss */

  /* about section starts */

  .about-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-img-section {
    object-fit: cover;
    width: 62%;
    height: auto;
    margin-bottom: 1em;
  }

  .about-img {
    width: 100%;
    height: 100%;
  }

  .about-details-title {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1em;
    width: 100%;
    text-align: center;
  }

  .about-details-heading {
    width: 100%;
    text-align: center;
    font-size: 1.563rem;
    line-height: 2.063rem;
    margin-bottom: 0.8em;
  }

  .about-details-subheading {
    font-size: 1.063rem;
    line-height: 1.5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 1.5em;
  }

  .about-details-p {
    font-family: var(--secondary-font);
    font-size: 0.938rem;
    line-height: 1.6rem;
    font-weight: 600;
    margin-bottom: 1em;
  }

  .about-details-p span {
    font-weight: 800;
  }

  .about-details-p img {
    width: 1.8em;
    height: auto;
    line-height: clamp(1.225rem, 3vw, 2rem);
  }

  /* about section rnds */

  .faq-heading {
    font-size: 2.813rem;
    margin-bottom: 1em;
  }

  .faq-accord {
    padding: 0.7em 0;
  }

  .faq-question-section {
    padding: 1.5em 1.3em;
  }

  .faq-question-icon {
    margin-right: 1em;
    width: 2em;
  }

  .faq-question {
    font-size: 0.9rem;
    line-height: 1.25rem;
  }

  .faq-answer {
    width: 100%;
    text-align: none;
    font-size: 0.85rem;
    line-height: 1.6rem;
  }

  /* faq section ends */

  /* tips section starts */

  .tips-section {
    padding: 6em 0;
  }

  .tips-wrap {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .tips-left {
    width: 100%;
    align-items: center;
  }

  .tips-subheading {
    font-size: 1.063rem;
  }

  .tips-heading {
    font-size: 1.563rem;
    line-height: 2.063rem;
  }

  .tips-section .cta-GYFT {
    width: 100%;
  }

  .tips-left .cta-GYFT:hover img {
    right: 13%;
  }

  .tips-right {
    width: 100%;
    padding-top: 2em;
  }

  .tips-quotes-symbol.show span {
    font-size: 8rem;
  }

  .tips-quotes-symbol.show p {
    transform: translateY(-2.3em);
    font-size: 0.938rem;
    line-height: 1.6rem;
  }

  /* tips section ends */

  /* footer section starts */

  .footer-section {
    height: 100vh;
  }

  .footer-container {
    width: 100%;
  }

  .footer-container-subheading {
    font-size: 1.063rem;
  }

  .footer-container-heading {
    font-size: 2.188rem;
    line-height: 2.813rem;
  }

  .footer-cta-section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .footer-container-LT-btn,
  .footer-container-email-btn {
    margin: 0.8em 0;
    width: 100%;
  }

  .footer-cta-section .cta-LT:hover img {
    right: 32%;
  }

  .cta-EMAIL::before {
    font-size: 0.7rem;
  }

  .footer-bottom-wrap {
    align-items: center;
  }

  .footer-bottom-icon-img {
    margin-left: 0em;
    width: 1.5em;
  }

  .footer-bottom-h3 {
    margin: 0.8em 0;
    font-size: 0.813rem;
  }

  /* footer section ends */

  /* contact-container section starts */

  .contact-section {
    min-height: 100vh;
    height: auto;
    border: 1px solid green;
  }

  .contact-wrap {
    margin: 10em 0;
  }

  .contact-form {
    width: 90%;
    align-items: center;
  }

  .contact-form-row {
    flex-direction: column;
    margin-bottom: 3em;
  }

  .contact-form-sec {
    height: 3.5em;
  }

  .contact-form-half {
    width: 100%;
    margin-bottom: 3em;
  }

  .contact-form-half:last-child {
    margin-bottom: 0em;
  }

  .contact-form-input {
    font-size: 0.938rem;
    padding: 1rem;
  }

  .contact-form-textarea {
    height: 3.5em;
  }

  .contact-form-label {
    left: 1rem;
    font-size: 0.938rem;
  }

  .contact-form-button {
    width: 100%;
  }

  .contact-form-input:focus + .contact-form-label,
  .contact-form-input:not(:placeholder-shown).contact-form-input:not(:focus)
    + .contact-form-label {
    top: -0.5rem;
    font-size: 0.7rem;
  }

  .contact-details-section {
    text-align: center;
    padding: 0;
    order: -1;
    margin-bottom: 4em;
  }

  .contact-details-title {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1em;
  }

  .contact-details-heading {
    font-size: 1.563rem;
    margin-bottom: 0.1em;
  }

  .contact-details-subheading {
    font-size: 1.063rem;
    margin-bottom: 0.8em;
  }

  /* contact-container section ends */

  /* thankyou-container section starts */

  .thankyou-heading {
    font-size: 2.188rem;
    line-height: 2.813rem;
  }

  .thankyou-subheading {
    font-size: 1.063rem;
    width: 80%;
    margin-bottom: 3em;
  }

  .thankyou-link {
    width: 100%;
  }

  .thankyou-btn {
    width: 100%;
  }

  /* thankyou-container section ends */
}
